h1 {
	background-color: #000077;
	color: white;
}

table#galaxy_map {
    border-spacing: 0;
    background-color: black;
    color: white;
    font-size: large;
}

table#galaxy_map td, th {
    margin: 0;
    text-align: center;
}

table#galaxy_map td {
    border: 1px solid white;
}

table#galaxy_map th {
    border: none;
}

div#main-content {
    margin: 0;
}

ul.wg-menu {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: large;
    margin-top: 2em;
}

ul.wg-menu li {
    display: inline-block;
    background-color: #000077;
    color: white;
    font-size: large;
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 25% 25% 0 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

ul.wg-menu li:hover {
    background-color: #3333aa;
    color: black;
    cursor: pointer;
}

ul.wg-menu li.selected {
    font-size: x-large;
    font-weight: bold;
}


div#main-content {
    border: 2px solid #000077;
    margin-top: 0px;
}

dl.data-block {
    float: left;
}

dl.data-block dt {
    float: left;
    clear: left;
    width: 8em;
    text-align: right;
    font-weight: bold;
}

dl.data-block dt::after {
    content: ":";
}

dl.data-block dd {
    margin: 0 0 0 9em;
    padding: 0 0 0.5em 0.25em;
}

div.planet-controls {
    float: right;
    width: 800px;
}

div.planet-map {
    border: 2px solid black;
    float: right;
    width: 800px;
    height: 400px;
}

ul.resource-list {
    float: right;
}

ul.resource-list li {
    display: inline-block;
    text-align: center;
    margin: 2px;
}

ul.resource-list li span {
    font-weight: bold;
}

ul.sector_neighbours {
    font-size: large;
    margin-left: 0;
    padding-left: 0;
}

ul.sector_neighbours li {
    display: inline-block;
    border: 1px solid black;
    padding: 0 1em 0 1em;
    border-radius: 5px;
}

ul.sector_neighbours li:hover {
    background-color: #3333aa;
    color: white;
    text-decoration: none;
}

div.planet-resources {
    clear: right;
    float: right;
}