<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <link href="/css/worldgen.css" rel="stylesheet" type="text/css"/>

    #set ( $width = $maxX - $minX + 1 )
    #set ( $height = $maxY - $minY + 1 )

    #set ( $SECTOR_WIDTH = 96 )
    #set ( $SECTOR_HEIGHT = 120 )

    #set ( $mapWidth = $SECTOR_WIDTH * $width )
    #set ( $mapHeight = $SECTOR_HEIGHT * $height )

    #set ( $divWidth = $mapWidth + $SECTOR_WIDTH )
    #set ( $divHeight = $mapHeight + $SECTOR_HEIGHT )

  <style>
  </style>
</head>

<script>
  var systemId = ${id};
</script>

<body>
<div class="container-fluid">
  <h1>$sector.name &gt; $subsector &gt; $system.name ($x$y) <span>${systemZone} / ${systemType}</span></h1>

  <div id="system" class="container-fluid">

    <ul id="star-menu" class="nav nav-tabs">
      <li class="nav-item active" id="system-map-menu">
        <a class="nav-link" data-toggle="tab" id="system-map-tab" href="#system-map">Overview</a>
      </li>

      #foreach ($star in $system.stars)
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" id="star-${star.id}-tab" href="#star-${star.id}">${star.name}</a>
        </li>
      #end
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="system-map">
        <img src="/api/system/${system.id}/map?width=1024" width="1024" height="1024"/>
        <!--
        <dl class="data-block">
          <dt>Type</dt><dd>${system.type}</dd>
          <dt>Zone</dt><dd>${system.zone}</dd>
        </dl>
        -->
      </div>

      #foreach ($star in $system.stars)
        <div class="tab-pane fade" id="star-${star.id}">

        </div>
      #end
    </div>
  </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<script src="/js/system.js"></script>
<script src="/js/three.js"></script>

<script>
  $(document).ready(function() {
      #foreach ($star in $system.stars)
        $.getJSON("/api/star/" + ${star.id} + "/planets", function(resp) {
          $("#star-${star.id}").html('<ul class="nav nav-tabs" id="planet-menu-${star.id}"></ul>');
          $("#star-${star.id}").append("<div class='tab-content' id='planet-content-${star.id}'></div>");
          showPlanets(${star.id});
        });
      #end
  });
</script>

</body>
</html>
